@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --bright-blue: hsl(245, 75%, 52%);
  --bright-blue-hover: hsl(244, 83%, 68%);
}

body {
  background-color: var(--pale-blue);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

.card {
  background-color: white;
  border-radius: 20px;
  color: var(--desaturated-blue);
  margin: 50px auto;
  width: 450px;
}

.title {
  color: var(--dark-blue);
  font-size: 32px;
  font-weight: 900;
}

.hero-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.container > * {
  margin: 13px 0;
}

.container strong {
  color: var(--dark-blue);
}

.order-description {
  line-height: 25px;
}

.plan-container {
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
  padding: 25px;
}

.plan-container a {
  color: var(--bright-blue);
  font-size: 13px;
  font-weight: 700;
}

.plan-container a:hover {
  color: var(--bright-blue-hover);
  text-decoration: none;
}

.plan-description {
  line-height: 20px;
  margin-right: 75px;
}

button {
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  width: 100%;
}

.cancel-button {
  background-color: var(--very-pale-blue);
  border: none;
  box-shadow: 0 10px 15px -8px rgb(197 189 245);
  color: var(--desaturated-blue);
  margin-top: 13px;
  padding: 1rem 0;
}

.cancel-button:hover {
  color: black;
}

.proceed-button {
  background-color: var(--bright-blue);
  box-shadow: 0 10px 15px -8px rgb(197 189 245);
  color: white;
  padding: 1rem 0;
}

.proceed-button:hover {
  background-color: var(--bright-blue-hover);
}
